<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.roadrover.demo">

    <application
        android:name=".DemoApplication"
        android:allowBackup="true"
        android:icon="@drawable/icon_roadrover"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".ui.activity.MainActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.activity.CarActivity" />
        <activity android:name=".ui.activity.SystemActivity" />
        <activity android:name=".ui.activity.RadioActivity" />
        <activity android:name=".ui.activity.BluetoothActivity" />
        <activity android:name=".ui.activity.MediaActivity" />
        <activity android:name=".ui.activity.AudioActivity" />
        <activity android:name=".ui.activity.AVInActivity" />
        <activity android:name=".ui.activity.SettingsActivity" />
        <activity android:name=".ui.activity.SettingsJumpPageActivity"/>
        <activity android:name=".ui.activity.SettingsGetDataActivity"/>
        <activity android:name=".ui.activity.SettingsMonitorDataActivity"/>
        <activity android:name=".ui.activity.VoiceActivity" />
    </application>

</manifest>